# Exploratory Data Analysis

###  Understanding the dataset to explore how the data is present in the database and if there is a need of creating some aggregated tables that can help with :
#### - Vendor selection for profitability  
#### - Product Pricing Optimization

In [2]:
import pandas as pd
import sqlite3

In [3]:
# creating database connection
conn = sqlite3.connect('inventory.db')

In [4]:
# check tables present in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
tables

                   name
0       begin_inventory
1         end_inventory
2             purchases
3       purchase_prices
4                 sales
5        vendor_invoice
6  vendor_sales_summary

In [5]:
# count entries in 'purchases' table
for table in tables['name']:
    print('-'*50, f'{table}', '-'*50)
    print('Count of records:', pd.read_sql(f"select count(*) as count from {table}", conn)['count'].values[0])
    display(pd.read_sql(f"select * from {table} limit 5", conn))

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchases --------------------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales --------------------------------------------------
Count of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

-------------------------------------------------- vendor_sales_summary --------------------------------------------------
Count of records: 10692

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07

In [6]:
purchases = pd.read_sql_query(
    "SELECT * FROM purchases WHERE VendorNumber = 4466",
    conn
)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [7]:
purchase_prices = pd.read_sql_query(
    """SELECT * FROM purchase_prices WHERE VendorNumber = 4466""",
    conn
)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [8]:
sales = pd.read_sql_query(
    """SELECT * FROM sales WHERE VendorNo = 4466""",
    conn
)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [9]:
purchases.groupby(['Brand', 'PurchasePrice'])[['Quantity', 'Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [10]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [11]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [12]:
# Loading all 6 tables from the database into DataFrames
begin_inventory = pd.read_sql_query("SELECT * FROM begin_inventory", conn)
end_inventory = pd.read_sql_query("SELECT * FROM end_inventory", conn)
purchases = pd.read_sql_query("SELECT * FROM purchases", conn)
purchase_prices = pd.read_sql_query("SELECT * FROM purchase_prices", conn)
sales = pd.read_sql_query("SELECT * FROM sales", conn)
vendor_invoice = pd.read_sql_query("SELECT * FROM vendor_invoice", conn)

# Optional: Verify one of them loaded correctly
begin_inventory.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

In [13]:
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None
...,...,...,...,...,...,...,...,...,...,...
5538,9622,WEIN BAUER INC,2025-01-06,13626,2024-12-21,2025-02-10,90,1563.00,8.60,None
5539,9625,WESTERN SPIRITS BEVERAGE CO,2025-01-10,13661,2024-12-23,2025-02-18,4617,37300.48,186.50,None
5540,3664,WILLIAM GRANT & SONS INC,2025-01-02,13643,2024-12-22,2025-02-04,9848,202815.78,932.95,None
5541,9815,WINE GROUP INC,2025-01-03,13602,2024-12-20,2025-02-08,24747,149007.56,819.54,None
5542,90058,ZORVINO VINEYARDS,2025-01-05,13574,2024-12-18,2025-02-12,437,3608.11,16.60,None

In [14]:
vendor_invoice['PONumber'].nunique()

5543

In [15]:
vendor_invoice.shape

(5543, 10)

In [16]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [17]:
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2372469,49_GARIGILL_22298,49,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-28,2025-01-09,2025-02-06,8.06,12,96.72,2
2372470,1_HARDERSFIELD_19556,1,19556,Zorvino Bacca Z Blackberry,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-27,2025-01-09,2025-02-06,9.39,12,112.68,2
2372471,66_EANVERNESS_22297,66,22297,Zorvino Vyds Pearz,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-26,2025-01-09,2025-02-06,6.75,12,81.00,2
2372472,69_MOUNTMEND_19557,69,19557,Zorvino Fragole Z Strawberry,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-26,2025-01-09,2025-02-06,9.39,12,112.68,2
2372473,55_DRY GULCH_22298,55,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2024-12-19,2024-12-28,2025-01-09,2025-02-06,8.06,12,96.72,2

In [18]:
sales.groupby('Brand')[['SalesDollars','SalesPrice','SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
58         43341.54    28145.64           3446
60         18716.25    10720.79           1775
61          4364.88      363.74            312
62        119863.75    90154.51           3125
63        112249.22    88553.10           2778
...             ...         ...            ...
90089      19078.41     5759.52            159
90090       9749.85     4549.93             15
90604       9119.24     2639.78             76
90609       2074.17     1774.29             83
90631      31504.41    19502.73           1659

[11237 rows x 3 columns]

- The purchases table contains actual purchase data, including the date of purchase, products (brands) purchased by vendors, the amount paid (in dollars), and the quantity purchased.  
- The purchase price column is derived from the purchase_prices table, which provides product-wise actual and purchase prices. The combination of vendor and brand is unique in this table.  
- The vendor_invoice table aggregates data from the purchases table, summarizing quantity and dollar amounts, along with an additional column for freight. This table maintains uniqueness based on vendor and PO number.  
- The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.

As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:
- purchase transactions made by vendors  
- sales transaction data  
- freight costs for each vendor  
- actual product prices from vendors

---

In [19]:
freight_summary = pd.read_sql_query("""select VendorNumber, SUM(Freight) as FreightCost
From vendor_invoice
Group BY VendorNumber""", conn)

In [20]:
freight_summary

     VendorNumber  FreightCost
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

In [21]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [22]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [23]:
pd.read_sql_query("""SELECT
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.PurchasePrice,
    pp.Volume,
    pp.Price as ActualPrice,
    SUM(p.Quantity) as TotalPurchaseQuantity,
    SUM(p.Dollars) as TotalPurchaseDollars
FROM purchases p
JOIN purchase_prices pp
ON p.Brand = pp.Brand
GROUP BY p.VendorNumber, p.VendorName, p.Brand
ORDER BY TotalPurchaseDollars""", conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,2561,EDRINGTON AMERICAS,2166,0.00,750,0.00,2015,0.00
1,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71
2,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1,1.47
3,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48
4,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34
...,...,...,...,...,...,...,...,...
10688,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109,3023206.01
10689,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682,3261197.94
10690,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407,3418303.68
10691,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038,3804041.22
10692,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080,3811251.60

In [24]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [25]:
pd.read_sql_query("""SELECT
    VendorNo,
    Brand,
    SUM(SalesDollars) as TotalSalesDollars,
    SUM(SalesPrice) as TotalSalesPrice,
    SUM(SalesQuantity) as TotalSalesQuantity,
    SUM(ExciseTax) as TotalExciseTax
FROM sales
GROUP BY VendorNo, Brand
ORDER BY TotalSalesDollars""", conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,8004,5287,0.98,0.98,2,0.10
1,9206,2773,0.99,0.99,1,0.05
2,3252,3933,1.98,0.99,2,0.10
3,3924,9123,1.98,0.99,2,0.10
4,10050,3623,1.98,1.98,2,0.10
...,...,...,...,...,...,...
11267,3960,3545,4223107.62,545778.28,135838,249587.83
11268,3960,4261,4475972.88,420050.01,200412,368242.80
11269,17035,8068,4538120.60,461140.15,187140,343854.07
11270,4425,3405,4819073.49,561512.37,160247,294438.66
11271,1128,1233,5101919.51,672819.31,142049,260999.20

In [26]:
vendor_sales_summary = pd.read_sql_query("""
WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),
PurchaseSummary AS (
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price AS ActualPrice,
        pp.Volume,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars
    FROM purchases p
    JOIN purchase_prices pp
    ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
),
SalesSummary AS (
    SELECT
        VendorNo,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
)
SELECT
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalExciseTax,
    fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
    ON ps.VendorNumber = ss.VendorNo
    AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
    ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC
""", conn)

In [27]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2,2.64,5.0,15.95,10.96,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6,2.34,134.0,65.66,1.47,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2,1.48,2.0,1.98,0.99,0.10,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200,1,1.47,72.0,143.28,77.61,15.12,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1,0.71,86.0,85.14,33.66,4.46,38994.78

Markdown explanation below the table:

> This query generates a vendor-wise sales and purchase summary, which is valuable for:

Performance Optimization:
- The query involves heavy joins and aggregations on large datasets like sales and purchases.  
- Storing the pre-aggregated results avoids repeated expensive computations.  
- Helps in analyzing sales, purchases, and pricing for different vendors and brands.  
- Future Benefits of Storing this data for faster Dashboarding & Reporting.  
- Instead of running expensive queries each time, dashboards can fetch data quickly from vendorsalessummary.

In [28]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                    object
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [29]:
vendor_sales_summary.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
Description                0
PurchasePrice              0
ActualPrice                0
Volume                     0
TotalPurchaseQuantity      0
TotalPurchaseDollars       0
TotalSalesQuantity       178
TotalSalesDollars        178
TotalSalesPrice          178
TotalExciseTax           178
FreightCost                0
dtype: int64

In [30]:
vendor_sales_summary.head(5)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07

In [31]:
vendor_sales_summary['VendorName'].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [59]:
vendor_sales_summary['Description'].nunique()

9651

In [60]:
vendor_sales_summary['Description'].unique().tolist()

['Jack Daniels No 7 Black',
 "Tito's Handmade Vodka",
 'Absolut 80 Proof',
 'Capt Morgan Spiced Rum',
 'Ketel One Vodka',
 'Grey Goose Vodka',
 'Jameson Irish Whiskey',
 'Smirnoff Traveler',
 'Tanqueray',
 'Jim Beam',
 'Johnnie Walker Red Label',
 'Dewars White Label',
 'Kendall Jackson Chard Vt RSV',
 'Patron Silver Tequila',
 'Johnnie Walker Black Label',
 'Kahlua',
 'Baileys Irish Cream',
 'Crown Royal',
 'Capt Morgan Original Barrel',
 'Bombay Sapphire Gin',
 'Stolichnaya',
 'Pinnacle Vodka',
 'Canadian Club',
 'Jose Cuervo Especial',
 'Bacardi Superior Rum',
 'Veuve Clicquot Brut Yellow',
 'Three Olives Vodka',
 'Skyy Vodka',
 'Moet & Chandon Nectar Imp Rs',
 'Beefeater',
 'Fireball Cinnamon Whisky',
 'Malibu Rum',
 'Bacardi Superior Rum Trav',
 'Makers Mark',
 'The Glenlivet 12 Yr Single',
 'Smirnoff 80 Proof',
 'Svedka Vodka',
 'Platinum 7X Distilled Vodka',
 'Black Velvet Canadian Whisky',
 'Josh Cellars Cab Svgn Sonoma',
 'Zhenka 80 Proof',
 'Seagrams VO',
 'Canadian Ltd',
 'R M Woodbridge Chard Cal',
 'Ciroc Apple Vodka',
 'Jack Daniels Tennessee Honey',
 'Oyster Bay Svgn Bl Marlboro',
 'Cavit Pinot Grigio',
 'Hennessy Privilege VSOP',
 'Moet & Chandon Imperial',
 'Knob Creek Bourbon',
 'Cointreau Liqueur',
 'Remy Martin VSOP Cognac',
 'Santa Margherita Pnt Grigio',
 'Stolichnaya Razberi',
 'Bulleit Bourbon',
 'Jagermeister Liqueur',
 'Apothic Winemakers Red Blend',
 "Hendrick's Gin",
 'Hornitos Reposado Tequila',
 'Jose Cuervo Especial Silver',
 'Gordons Vodka 80 Proof',
 'Absolut Citron',
 'Burnetts Vodka',
 'MezzaCorona Pnt Grigio',
 'Sailor Jerry Spiced Navy Rum',
 'La Crema Chard Sonoma Cst',
 'Grand Marnier',
 'Amaretto DiSaronno',
 'Clos du Bois Chard',
 'Belvedere Polish Vodka',
 'The Macallan 12 Yr Old',
 'Sambuca Romana',
 'Gordons London Dry',
 'Seagrams 7 Crown',
 'Johnnie Walker Blue Label',
 'Woodford Reserve Bourbon',
 'Crown Royal Regal Apple',
 'R M Woodbridge Cab Svgn Cal',
 'Fleischmanns Royal Vodka',
 'La Marca Prosecco',
 "Bentley's Vodka",
 'Oban 14-Yr Single Malt',
 'Dom Perignon',
 'Lagavulin Single Malt 16-Yr',
 'Evan Williams Black Label B',
 'Hennessy VS Cognac',
 'Canadian Mist',
 'Caymus Cab Svgn Napa Vly',
 'Chivas Regal',
 'Capt Morgan Spiced Rum 100',
 'Goslings Black Seal Bermuda',
 'Luksusowa Potato Vodka',
 'Basil Hayden Bourbon',
 'Balvenie 12 Yr Doublewood S',
 'Jameson Black Barrel',
 'Kamora Coffee',
 'Bulleit 95 Rye',
 'Mark West Pnt Nr Sonoma',
 'New Amsterdam Vodka',
 'Jack Daniels Tennesse Fire',
 'Jeffersons Bourbon',
 'Tanqueray Sterling Vodka',
 'Bogle Chard',
 'Fireball Cinnamon Whiskey',
 'Ciroc Coconut Vodka',
 'Gilbeys London Dry',
 'Glenfiddich Special Rsv 12',
 'Capt Morgan Spiced Rum Trav',
 'Hornitos Plata Tequila',
 'Buffalo Trace Bourbon',
 'Drambuie',
 'Mount Gay Eclipse',
 'Meiomi Pnt Nr',
 'Southern Comfort',
 'Remy Martin 1738 Accord Ryl',
 'Buchanans Deluxe 12Yr Scotch',
 'Myers Original Dark Rum',
 'Duckhorn Decoy Cab Svgn',
 'J Lohr Riverstone Chard',
 'New Amsterdam Gin',
 'F Coppola Black Label Claret',
 'Belvedere Vodka',
 'Allens Coffee Brandy',
 'The Famous Grouse',
 'The Glenlivet 15Yr FrenchOak',
 'Kim Crawford Svgn Bl Marlbro',
 'Yellow Tail Chard Ausl',
 'Smirnoff Raspberry Vodka',
 'Jenkins Vodka',
 'Ch Ste Michelle Chard Colmbi',
 'Smirnoff 80 Proof Traveler',
 'Menage a Trois Red',
 'Gentleman Jack',
 'Jack Daniels Tennessee Fire',
 'Bogle Merlot',
 'R M Woodbridge Pnt Grigio',
 "Dr McGillicuddy's Mentholmnt",
 'Fireball Cinn Whisky Trav',
 'Capt Morgan Private Stock',
 'RumChata Liqueur',
 'Black Box Cab Svgn',
 'Jameson Caskmates',
 'Butter Chard',
 'Glen Ellen Chard RSV',
 'Pinnacle Whipped Vodka',
 'Wild Turkey 101',
 'Glenmorangie 10 Yr Scotch',
 'Jack Daniels Single Barrel',
 'Clan MacGregor',
 'Black Box Chard',
 'Mionetto Prosecco Brut',
 'Gilbeys Vodka',
 'Laphroaig 10 Yr Single Malt',
 'Bombay Dry Gin',
 'Phillips Seven Deadly Znfdl',
 'Courvoisier VS Cognac',
 'Rombauer Carneros Chard',
 'Chambord Royale de France',
 'Capt Morgan Cannon Blast',
 'R M Woodbridge Svgn Bl Cal',
 'Capt Morgan Silver Spicd Rum',
 'La Crema Pnt Nr Sonoma Cst',
 'Tullamore Dew',
 'WhistlePig 10 Yr Old Rye',
 'Ch Beauchene Cotes du Rhone',
 'Clos du Bois Cab Svgn N Cst',
 'Toasted Head Chard',
 'Joel Gott Cab Svgn 815',
 'Cupcake Chard',
 'DeKuyper Triple Sec',
 'Cupcake Prosecco',
 'Stolichnaya Ohranj',
 'Jim Beam Black',
 'Blantons Sgl Barrel Bourbon',
 'Ciroc Red Berry Vodka',
 'Finlandia Vodka',
 'Calico Jack Spiced Rum',
 'J & B Rare',
 'Whitehaven Svgn Bl Marlboro',
 'Franzia Tap Chard',
 '1800 Silver Tequila',
 'R M Woodbridge Merlot Cal',
 'Ezra Brooks',
 'B & B Liqueur Dom',
 'Sauza Extra Gold Tequila',
 'Ciroc Peach Vodka',
 'Josh Cellars Chard',
 'Alamos Ridge Malbec Mendoza',
 'Johnnie Walker Double Black',
 'Yellow Tail Cab Svgn Ausl',
 'Ryans Irish Cream',
 'Taaka Vodka',
 'Beringer Classic Wh Znfdl',
 'Ciroc Snap Frost Vodka',
 'Stolichnaya Blueberi',
 'Yellow Tail Pnt Grigio Ausl',
 'Dom Chandon Brut Cuvee',
 'Cupcake Pnt Grigio',
 'Gilbeys Vodka Traveler',
 'Black Box Pnt Grigio',
 'Carnivor Cab Svgn',
 'Ch Ste Michelle Cab Svgn Col',
 'Balvenie 14 Yr Caribean Cask',
 'Ferrari-Carano Chard',
 'Korbel Brut',
 'Crown Royal +2 Reusable Cups',
 'Crown Royal Canadian Whisky',
 'Kendall Jackson RSV Svgn Bl',
 'Bacardi Gold Rum',
 'Sterling Vintners Cab Svgn C',
 'Campari',
 'Stags Leap Artemis Cab Svgn',
 'Cruzan Aged Dark Rum',
 'F Coppola Dmd Ivry Cab Svgn',
 'J Lohr Seven Oaks Cab Svgn',
 'Old Smuggler P E T',
 'Franzia Crisp White Tap',
 'Ch Montaud Cotes de Prov Rse',
 'Old Crow',
 'Rumpleminze',
 'Cupcake Svgn Bl',
 'Tortilla Gold Tequila Liquer',
 'Sauza Blanco Tequila',
 'Yellow Tail Shiraz Ausl',
 'Simi Chard',
 'Cutty Sark',
 'St Germain Liqueur',
 'Dalwhinnie 15-Yr Single Mal',
 'Mr Boston Light Rum',
 'Pinnacle Citrus Vodka',
 'Yellow Tail Merlot Ausl',
 'Almaden Chard Cal B/B',
 'Crown Royal Vanilla',
 'A to Z Pnt Nr Ore',
 'Jim Beam Traveler',
 'Baileys Irish Cream w/4 Glss',
 'Yukon Jack',
 'Patron Anejo Tequila',
 "Dr McGillicuddy's Root Beer",
 'Perrier Jouet Grand Brut',
 'Bacardi Limon Rum',
 'M & R Asti',
 'Eagle Rare Single Barrel Bo',
 'Kris Pnt Grigio Alto Adige',
 'Ecco Domani Pnt Grigio Venez',
 'Kraken Black Spiced Rum',
 'Jose Cuervo Lime Margarita',
 'R M Woodbridge Chard',
 'Johnnie Walker Green Label',
 'Ghost Pine Cab Svgn LMartini',
 'DeKuyper Peachtree Schnapps',
 'Bogle Cab Svgn Cal',
 'L Martini Cab Svgn Sonoma',
 'Ciroc Mango Vodka',
 'Milagro Silver Tequila',
 'R M Woodbridge Pnt Nr',
 'Don Julio Anejo Tequila',
 'Frangelico Hazelnut Liqueur',
 'Barefoot Pnt Grigio Cal',
 'Barefoot Bubbly Brut Cve',
 'Deep Eddy Ruby Red',
 '14 Hands Cab Svgn Wash',
 'Hennessy XO Cognac',
 'Jim Beam Apple',
 'Seagrams Extra Smooth Vodka',
 'Bowman Vodka',
 'Franzia Sunset Blush Tap',
 'Clos du Bois Pnt Nr Cal',
 'Kendall Jackson Pnt Nr Vtnr',
 'Don Julio Blanco Tequila',
 "Baileys Irish Cream Mini's 4",
 'Jose Cuervo Golden Margarita',
 'Seagrams Extra Dry Gin',
 'Kendall Jackson Avant Chard',
 'Ron Virgin Heavy Bodied Rum',
 'U V Vodka',
 'Black Box Merlot Cal',
 'Baileys Salted Caramel',
 'Simi Cab Svgn',
 'Sterling Vintners Cltn Chard',
 'Apothic Dark',
 'Arrow Coffee Brandy',
 'Ronrico Silver Rum',
 'Ch Ste Michelle Rsl',
 'Pallini Limoncello Liqueur',
 'Ch St Jean Chard California',
 'Johnnie Walker Gold Rsv',
 'Barr Hill Gin',
 'Capt Morgan White PET',
 'Calypso Spiced Rum',
 '1800 Reposado Gold Tequila',
 'Stolichnaya Vanil',
 'Knob Creek Smoked Maple',
 'Makers 46',
 'Patron Citronge Orange Liqu',
 'Villa Cornaro Prosecco Del',
 'F Coppola Diamond Chard',
 'Bread & Butter Chard',
 'Silver Oak Cab Svgn Alex Vly',
 'Freakshow Cab Svgn',
 'Absolut Ruby Red',
 'DeKuyper Peachtree Trav',
 'Da Vinci Chianti Tuscany',
 'W Hill Est Chard N Coast',
 '19 Crimes Red',
 'Tanqueray Rangpur Gin',
 'Wild Turkey',
 'Ciroc Pineapple Vodka',
 'Goslings Black Seal Rum 80',
 'Cupcake Red Velvet',
 'Duckhorn Decoy Pnt Nr',
 'Absolut Mandrin',
 'Zhenka Vodka Plastic',
 'Sambuca Romana Liqueur',
 'Popov Vodka',
 'Knob Creek Single Barrel Rsv',
 'Cabo Wabo Blanco Tequila',
 'Goldschlager Cinnamon Schnps',
 'Franciscan Cab Svgn Napa',
 'Pinnacle Tropical Punch',
 'Godiva Chocolate Liqueur',
 'Sobieski Vodka',
 'Espolon Blanco Tequila',
 'Frescobaldi Chianti RSV Nip',
 'Bella Sera Pinot Grigio Del',
 "Dr McGillicuddy's Menth Trav",
 'Glenfiddich Solera 15-Yr RS',
 'Dewars White Label Scotch',
 'Four Roses Bourbon',
 'The Dreaming Tree Crush Red',
 'Cakebread Chard',
 'Zaccagnini Montepulciano Rsv',
 'Lindemans Bin 65 Chard',
 'Bogle Phantom Red Cal',
 'Andre Extra Dry',
 'Phillips Earthquake Cab Svgn',
 'Scoresby Rare',
 'St Elder Elderflower Liqueur',
 "Booker's Bourbon",
 'Korbel X Dry',
 'Vanya Light Vodka',
 'Buehler Znfdl Napa',
 'Emmets Irish Cream',
 'GranGala Triple Orange',
 'Zhenka Vodka 100 Proof',
 'Grey Goose Le Citron Vodka',
 'Kendall Jackson Vntr RSV Cab',
 'Da Vinci Pnt Grigio',
 'Everclear 151',
 'Roscato Rosso',
 'Starborough Svgn Bl Marlboro',
 'Cupcake Cab Svgn',
 'Franzia Chillable Red Tap',
 'Talisker 10-Yr Single Malt',
 'Johnnie Walker Platinum',
 'Cooks Extra Dry',
 'The Glenlivet 18 Yr Single',
 'Black Box Pnt Nr',
 'Red Stag by Jim Beam',
 'Banfi Chianti Clsc RSV',
 'Mumm Brut Prestige',
 '1800 Coconut Tequila',
 'Chopin Vodka',
 'Woodford Rsv Bourbon',
 'Sonoma-Cutrer Chard RRV',
 'Peter Vella Chard Cal B/B',
 'E & J Brandy VS',
 'Jadot Beaujolais Villages',
 'Fleischmanns X Dry Gin',
 'Ch Beauchene Chtnf Pape RSV',
 'Zhenka Vodka',
 'Sambuca Romana Black',
 'Angeline Pnt Nr',
 'Barefoot Moscato Cal',
 'Masciarelli Montepulciano',
 'Kendall Jackson Summation Re',
 'Glenfiddich 14 Yr Barrel Rsv',
 'Glen Ellen Cab Svgn RSV',
 'Bacardi Oakheart Spiced Rum',
 'Jack Daniels Bruins Glass Pk',
 'Liberty School Cab Svgn',
 'Calico Jack Coconut Rum',
 'Ferrari-Carano Fume Bl',
 'Midori Melon Liqueur',
 'Knob Creek Rye',
 'Justin Cab Svgn Paso Robles',
 'Frei Bros RSV Chard RRV',
 'Black Box Malbec',
 'Franzia Tap Cab Svgn',
 'Deep Eddy Lemon Vodka',
 'Wild Turkey American Honey',
 'Reyka Vodka',
 'Franzia Tap Merlot',
 'Midnight Moon Apple Pie',
 'Jim Beam Maple',
 'Smoking Loon Cab Svgn',
 'Corbett Canyon Pnt Grigio',
 'Redbreast Irish Whiskey',
 'Jim Beam Honey',
 'Cavit Pinot Noir Delle Vene',
 'Angels Envy Whiskey',
 'Franzia Tap Wh Znfdl Cal',
 'Kendall Jackson Grand Rsv Ch',
 'Canadian Regal',
 'Ice 101 Peppermint Schnapps',
 'The Dreaming Tree Cab Svgn',
 'Kapali Coffee',
 'Taittinger Brut La Francais',
 'Joseph Carr Cab Svgn Napa',
 'Ardbeg 10 Yr Single Malt Sc',
 'F Coppola Diamond Pnt Nr',
 'Mr Boston Blackberry Brandy',
 'Firesteed Pnt Nr Ore',
 'Barefoot Chard Cal',
 'Jadot Pouilly Fuisse',
 'Menage a Trois Midnight',
 'Fleischmanns Preferred',
 'E & J Superior RSV VSOP',
 'Capt Morgan White',
 'Bacardi Gold Rum Traveler',
 'Ketel One Citroen Vodka',
 'Beringer Classic Chard',
 'Sauza Blue Silver Tequila',
 'Brancott Svgn Bl Marlboro',
 'Smirnoff Vanilla Vodka',
 'Christian Bros Brandy',
 'Rebel Yell',
 'Crown Royal Nrth Harvest Rye',
 'Smoking Loon Chard',
 'Angeline Pnt Nr Rsv',
 'Patron Reposado Tequila',
 'Firefly Sweet Tea Vodka',
 'Ch St Jean Cab Svgn Cal',
 'Smirnoff Watermelon Vodka',
 'Zhenka Raspberry Vodka',
 'Clos du Bois Pnt Grigio Cal',
 'Three Olives Espresso Vodka',
 'Three Olives Grape Vodka',
 'Don Julio 1942 Anejo Tequila',
 'Parrot Bay 90 Coconut Capt',
 'The Macallan 18 Yr Old',
 'Almaden Cab Svgn Cal B/B',
 "Ca'Momi Merlot Napa Valley",
 'Catena Lunlunta Malbec Argn',
 "Grey Goose L'Orange Vodka",
 'Courvoisier VSOP Cognac',
 'Mr Boston Coffee Brandy',
 'Glen Ellen Merlot RSV',
 'Malibu Rum Traveler',
 'Stone Cellars Chard',
 'Clase Azul Reposado Tequila',
 'Bogle Essential Red',
 'Glenmorangie Original 10 Yr',
 'Josh Cellars Legacy Red',
 'Smirnoff Kissed Caramel',
 'Patron XO Cafe Liqueur',
 'Barefoot Bubbly Pink Moscato',
 '14 Hands Hot to Trot Red',
 'MacMurray Ranch C Cst Pnt Nr',
 'Erath Pnt Nr Oregon',
 'Oyster Bay Chard Marlboro',
 'Highland Park 12 Yr Single',
 'Ruffino Chianti Clsc RSV Tan',
 'Smirnoff Blueberry Vodka',
 'E & J XO Brandy',
 'Remy Martin XO Cognac',
 'Jenkins Rum',
 'Ronrico Gold',
 'Glenmorangie Original 18Yr',
 'Zhenka Tropical Dark Rum',
 'Miraval Cotes de Prvnce Rose',
 'Bulleit 10 Yr Old Bourbon',
 'St Francis Cab Svgn Sonoma',
 'Il Tramonto Limoncello',
 'Oban Little Bay Single Malt',
 'R Mondavi Cab Svgn Pvt Sel',
 'Smoking Loon Pnt Grigio Cal',
 'Black Box Svgn Bl',
 'Mark West Chard Sonoma Cnty',
 'Buehler Chard RRV',
 'Querceto Chianti Clsc RSV',
 "Dr McGillicuddy's Apple Pie",
 'Josh Cellars Pnt Nr',
 'Dom Chandon Rose Spklg',
 'Jack Daniels Winter Jack',
 'Burnetts Gin',
 'Benchmark Old #8 Bourbon',
 'Woodford Reserve Double Oak',
 'Leroux Blackberry Brandy',
 'Wente Morning Fog Chard',
 'Silver Oak Cab Svgn Napa',
 'Columbia Crest G E Cab Svgn',
 'Old Grand Dad',
 'A to Z Pnt Gris Ore',
 'Hiram Walker Coffee Brandy',
 'Barefoot Premium X-Dry',
 'Taaka Gin',
 'Jeffersons Reserve Bourbon',
 'Phillips Earthquake Ld Znfdl',
 'Sonoma-Cutrer Chard Sonoma',
 'Mr Boston Dark Rum',
 "Dr McGillicuddy's Butterscth",
 'Aberlour Glenlivet 12 Yr',
 'Gascon Malbec Mendoza',
 'The Macallan Fine Oak 15 Yr',
 'Gold Crown Wh Rum',
 'Canadian Club 1858',
 'Jose Cuervo Gold w/Marg Mix',
 'Smirnoff Green Apple Vodka',
 'Villa Maria Svgn Bl Pvt Bin',
 'Bacardi 151 Proof',
 'Hess Select Cab Svgn',
 'Bacardi Dragon Berry Rum',
 'Bota Box Pnt Grigio Cal',
 'Beringer Classic Pnt Grigio',
 'Ruffino Prosecco Sparkling',
 '1800 Ultimate Margarita RTD',
 'Silverado Cab Svgn Napa',
 'Jenkins Gin',
 'Spellbound Cab Svgn Cal',
 'Tanqueray Ten Gin',
 'Godiva Wh Chocolate Liqueur',
 'Ch Ste Michelle Svgn Bl',
 'Ravenswood Vints Blend Znfdl',
 'Capt Morgan Long Isl Tea RTD',
 'Klinker Brick Old Vine Znfdl',
 'Blackstone Merlot Cal',
 'Monkey Shoulder Scotch',
 'Smirnoff Orange Vodka',
 'Leese-Fitch Cab Svgn',
 'M & R Sweet Vermouth',
 'Goldschlager Cinnamon Schna',
 'Castillo Silver Label Rum',
 'Bota Box Chard Cal',
 'Hornitos Black Barrel',
 'Smirnoff Strawberry Vodka',
 'Early Times',
 'Boru Original Irish Vodka',
 'DeKuyper Buttershots Schnpps',
 'Rodney Strong Cab Svgn',
 'Almaden Merlot Cal B/B',
 'Three Olives Cherry Vodka',
 'Fleischmanns Royal Traveler',
 "Fabrizia's Margarita RTD",
 'Crown Royal Shot Glass VAP',
 'Duggans Dew O Kirkintilloch',
 'Castello Del Poggio Moscato',
 'Cavit Prosecco Lunetta',
 'Nobilo Svgn Bl MarlborougH',
 'Glenmorangie Quinta Ruban',
 'Crown Royal Black',
 'Don Q Cristal Rum',
 'La Vieille Ferme Rose Vntoux',
 'Seaglass Svgn Bl Snt Barbara',
 'Martell Cordon Bleu',
 'Yellow Tail Moscato',
 'Sterling Cab Svgn',
 'Bonterra Mendocino Org Chard',
 'Dom Chandon Blanc de Noir C',
 'Cupcake Pnt Nr',
 'Cooks Brut',
 'Smoking Loon Pnt Nr',
 'Beringer Knights Vly Cab Svg',
 'Jack Daniels Barrel Proof',
 'Olmeca Altos Plata Tequila',
 'Deep Eddy Ruby Red Vodka',
 'Layer Cake Malbec Mendoza',
 'Casamigos Blanco',
 'Crown Royal Maple Whisky',
 'Evan Williams Honey Reserve',
 'Plymouth Gin',
 'Banfi Pnt Grigio San Angelo',
 'Seghesio Znfdl Sonoma',
 'Lauders Scotch',
 'Svedka Clementine Vodka',
 'Frei Bros RSV Cab Svgn Alex',
 'Effen Cucumber Vodka',
 'Cecchi Sangiovese',
 "Bailey's Espresso Creme",
 'Sambuca di Amore',
 'Grey Goose Glass Pack',
 'Jack Daniels & Coke',
 'Carpineto Dogajolo Tuscan Rd',
 'Souverain Cab Svgn N Cst',
 'Herradura Silver Tequila',
 'Mumm Napa Brut Rose',
 'Noble Vines 337 Cab Svgn',
 'Andre Brut',
 'La Vieille Ferme Red Ventoux',
 'Jim Beam Kentucky Fire',
 'The Macallan 10 Yr Fine Oak',
 'Apothic Winemakers White',
 'Ron Zacapa 23 Yr Old Rum',
 'Admiral Nelson Spiced Rum',
 'Black Velvet Traveler',
 'Skyy Infusions Citrus Vodka',
 'Ice Pik Vodka',
 'Estancia Chard',
 'Vendange Chard',
 'Southern Comfort 100 Proof',
 'Zhenka Pink Lemonade Vodka',
 'Hpnotiq Liqueur',
 'Absolut Raspberri',
 'Camarena Silver Tequila',
 'Smirnoff Citrus Vodka',
 'Matua Svgn Bl Marlboro',
 'Decoy by Duckhorn Red Sonoma',
 'Cruzan Mango Flavored Rum',
 'Cecchi Chianti Classico',
 'Cloudy Bay Svgn Bl Marlboro',
 'Old Bushmills Irish Whiskey',
 'Gnarly Head Old Vine Znfdl',
 'The Botanist Islay Dry Gin',
 'Ravenswood Vntrs Bl Cab Svgn',
 'Skinnygirl Margarita',
 'Dewars Special RSV 12-Yr',
 'Ch St Jean Chard Sonoma Cst',
 'Marques de Caceres Rioja Re',
 'Lord Calvert Canadian',
 'Meukow VS Cognac',
 'Evodia Garnacha Old Vine',
 'Glenfiddich Ancient RSV 18',
 'Beefeater Gin',
 'Lincourt Steel Chard',
 "Chi Chi's Margarita",
 'Bacardi Black',
 'Ten High',
 'Herradura Reposado Tequila',
 'Absolut Mini Bar 5/50mls',
 'Absolut Vanilia',
 'McClelland Highland Sgl Malt',
 'Acrobat Pnt Gris Oregon',
 'Kinky Liqueur',
 'Hibiki Harmony Japan Whiskey',
 'Midleton Rare Irish Whiskey',
 'Sterling Vintners CA Meritag',
 'DeKuyper Sour Apple Pucker',
 'Old Bushmills',
 '14 Hands Merlot Wash',
 'Svedka Strwbry Lemonad Vodka',
 'Ole Smoky Moonshine Cherries',
 'Apothic Crush',
 'Bota Box Cab Svgn',
 'Freixenet Cordon Negro Brut',
 'Caldwells Vodka',
 'Sterling Vintners Cltn Merlo',
 'Calico Jack Silver Rum',
 'Bushmills Black Bush',
 'Bonterra Cab Svgn Organic',
 'Menage a Trois Silk Soft Red',
 'Ch St Jean Pnt Nr',
 'Margaritaville Silver',
 'Hennessy Black Cognac',
 'DeKuyper Buttershots Schnaps',
 'Hudson Baby Bourbon Whiskey',
 'Buchanans Deluxe 18 Yr Old',
 'Licor 43 Vanilla Liqueur',
 'Butternut Chard',
 'Duckhorn Cab Svgn Napa',
 'Smirnoff Watermelon',
 'Remy Martin 1738 Accord Royl',
 'Bols Blue Curacao',
 'Heidsieck Brut Monopole Epe',
 'The Glenlivet Founders Res',
 'Jim Beam Devils Cut',
 'Cruzan Coconut Flavored Rum',
 'Malibu Pineapple Rum',
 'Clean Slate Rsl Mosel',
 'Cruzan Aged Light Rum',
 'WhistlePig Old World 12 Yr',
 'Appleton Special Gold Rum',
 'Goslings Black Seal 151',
 'Jaume Serra Cristalino Brut',
 'Grey Goose La Poire Vodka',
 'Corralejo Reposado Tequila',
 'Antinori Toscana Rd',
 'MacMurray Ranch Sonma Pnt Nr',
 'Aperol Liqueur',
 'Cabo Wabo Reposado Tequila',
 'Ruffino Lumina Pnt Grigio',
 'Smirnoff Blue 100 Proof Trav',
 'Speyburn 10-Yr Single Malt',
 'Hammer & Sickle Vodka',
 'Clos du Bois Merlot N Cst',
 'Booths London Dry Gin',
 'Four Roses Single Barrel Brb',
 'Estancia Cab Svgn Paso Roble',
 'Amarula Cream Liqueur',
 'W Hill Chard Napa',
 'High Valley Znfdl',
 'R Mondavi Cab Svgn Napa',
 'Glenmorangie LaSanta',
 'Kahlua w/50mL Absolut+Glass',
 'Sebastiani Znfdl Sonoma Cnty',
 'Veuve Clicquot Ponsardin Rs',
 'Cakebread Cab Svgn',
 'Crown Royal XO',
 'Inver House Green Plaid 3-Y',
 'Crown Royal RSV',
 'Cupcake Merlot',
 'Chivas Regal 18-Yr Scotch',
 'Espolon Reposado Tequila',
 'Casamigos Anejo',
 'Moletto Prosecco Della Marc',
 "Michter's Small Batch Bourbn",
 'El Jimador Blanco Tequila',
 'Rhum Barbancourt RSV Special',
 'Vat 69 Gold',
 'Jose Cuervo Light Margaritas',
 'Zaya Grand Reserva Rum',
 'Jameson 12 Year Old',
 'La Vieille Ferme Wh Rhone',
 'Crown Royal Special Reserve',
 'Absolut Pears',
 'Templeton Rye Whiskey',
 'New Amsterdam Peach Vodka',
 'Carlo Rossi Paisano Calif',
 'Sutter Home Clsc Chard',
 "Oban Distiller's Edition",
 'The Prisoner Red Napa Valley',
 'Ch Ste Michelle Indn Wls Cab',
 'Johnnie Walker Collection 4',
 'Vesica Potato Vodka',
 'Capt Morgan Parrot Bay Cocnt',
 'Pinnacle Grape Vodka',
 'Freixenet Cordon Negro Extr',
 'Stone Cellars Cab Svgn',
 'Fabrizia Limoncello',
 'Taaka Vodka Traveler',
 'Lagavulin Distillers Edition',
 'Aberlour 16 Year Old Single',
 'Dom de Canton Ginger Liqueur',
 'Agua de Piedra Malbec Selccn',
 'Stags Leap Chard Napa',
 'Don Julio Reposado Tequila',
 'DeKuyper Peppermint Schnapp',
 'Bota Box Malbec',
 'Mohua Svgn Bl Marlboro',
 'Capt Morgan White Coconut',
 'Pinnacle Blueberry Vodka',
 'Spellbound Petite Sirah Cal',
 'Sutter Home Wh Znfdl',
 'Pinnacle Raspberry Vodka',
 'Sauza Blue Silver',
 'Ice Box Mudslide',
 'W Hill Est Cab Svgn No Cst',
 'Line 39 Cab Svgn Lake Cnty',
 'Franzia Chablis Old World C',
 'Simi Svgn Bl',
 'Jameson 18 Year Old',
 'Jenkins French Brandy',

In [32]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64')

In [33]:
vendor_sales_summary.fillna(0, inplace = True)

In [34]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

In [35]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']

In [36]:
vendor_sales_summary['GrossProfit'].min()

-52002.780000000006

In [37]:
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars'])*100

In [38]:
vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']

In [39]:
vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollars']

In [40]:
cursor = conn.cursor()

In [ ]:
cursor.execute("""CREATE TABLE vendor_sales_summary (
    VendorNumber INT,
    VendorName VARCHAR(100),
    Brand INT,
    Description VARCHAR(100),
    PurchasePrice DECIMAL(10,2),
    ActualPrice DECIMAL(10,2),
    Volume,
    TotalPurchaseQuantity INT,
    TotalPurchaseDollars DECIMAL(15,2),
    TotalSalesQuantity INT,
    TotalSalesDollars DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalExciseTax DECIMAL(15,2),
    FreightCost DECIMAL(15,2),
    GrossProfit DECIMAL(15,2),
    ProfitMargin DECIMAL(15,2),
    StockTurnover DECIMAL(15,2),
    SalesToPurchaseRatio DECIMAL(15,2),
    PRIMARY KEY (VendorNumber, Brand)
);
""")

In [48]:
pd.read_sql_query("select * from vendor_sales_summary",conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,5.0,15.95,10.96,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,134.0,65.66,1.47,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,2.0,1.98,0.99,0.10,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,72.0,143.28,77.61,15.12,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,86.0,85.14,33.66,4.46,38994.78

In [72]:
vendor_sales_summary.to_sql('vendor_sales_summary', conn, if_exists='replace', index=False)

10692

In [44]:
vendor_sales_summary.shape

(10692, 18)

In [43]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'Volume', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalExciseTax', 'FreightCost', 'GrossProfit',
       'ProfitMargin', 'StockTurnover', 'SalestoPurchaseRatio'],
      dtype='object')

In [1]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db


logging.basicConfig(
    filename="logs/get_vendor_summary.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)


def create_vendor_summary(conn):
    '''this function will merge the different tables to get the overall vendor summary and adding new columns in the resultant data'''
    vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
        SELECT
            VendorNumber,
            SUM(Freight) AS FreightCost
        FROM vendor_invoice
        GROUP BY VendorNumber
    ),
    PurchaseSummary AS (
        SELECT
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Price AS ActualPrice,
            pp.Volume,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Dollars) AS TotalPurchaseDollars
        FROM purchases p
        JOIN purchase_prices pp
        ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
    ),
    SalesSummary AS (
        SELECT
            VendorNo,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesDollars) AS TotalSalesDollars,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
        FROM sales
        GROUP BY VendorNo, Brand
    )
    SELECT
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.ActualPrice,
        ps.Volume,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseDollars,
        ss.TotalSalesQuantity,
        ss.TotalSalesDollars,
        ss.TotalSalesPrice,
        ss.TotalExciseTax,
        fs.FreightCost
    FROM PurchaseSummary ps
    LEFT JOIN SalesSummary ss
        ON ps.VendorNumber = ss.VendorNo
        AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary fs
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseDollars DESC
    """, conn)
    return vendor_sales_summary

def clean_data(df):
    '''this function will clean the data'''
    # changing datatype to float
    df['Volume'] = df['Volume'].astype('float')

    # filling missing values with 0
    df.fillna(0, inplace=True)

    # removing spaces from categorical columns
    df['VendorName'] = df['VendorName'].str.strip()
    df['Description'] = df['Description'].str.strip()

    # creating new columns for better analysis
    df['GrossProfit'] = df['TotalSalesDollars'] - df['TotalPurchaseDollars']
    df['ProfitMargin'] = (df['GrossProfit'] / df['TotalSalesDollars']) * 100
    df['StockTurnover'] = df['TotalSalesQuantity'] / df['TotalPurchaseQuantity']
    df['SalesToPurchaseRatio'] = df['TotalSalesDollars'] / df['TotalPurchaseDollars']

    return df

if __name__ == '__main__':
    # creating database connection
    conn = sqlite3.connect('inventory.db')

    logging.info('Creating Vendor Summary Table......')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Data.....')
    clean_df = clean_data(summary_df)
    logging.info(clean_df.head())

    logging.info('Ingesting data.....')
    ingest_db(clean_df, 'vendor_sales_summary', conn)
    logging.info('Completed')

In [2]:
clean_df.to_csv("vendor_sales_summary.csv", index=False)